#container {
    margin: 0 auto;
}

.row {
    display: flex;
    gap: 1.5px;
    margin-bottom: 1.5px;
}

/*Add column styling/change styling
 and remove styling from js file*/
.column {
    height: 30px;
    width: 30px;
    background-color: lightgray;
}
